


  .img-container {
    position: relative; /* Make sure the container is positioned relative to contain the absolutely positioned image */
    width: 100%; /* Set the width to fill the available space */
    height: 700px;
    margin-top: 57px; /* Adjust the margin-top to position the container */
  }
  
  .img {
    position: absolute;
    width: 100%; /* Set width to 100% to match container width */
    height: 100%; /* Set height to 100% to match container height */
    top: 0;
    left: 0;
  }





  .text-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .container {

position: absolute;
width: 630px ;
height: 306px;
left: 80px;
bottom: 40px;

background: linear-gradient(256.73deg, #1CBDDD 27.86%, #4DCA79 100%), #FFFFFF;

  }
  
 
  
  .container p {
color: #FFFFFF;
font-family: Inter;
font-size: 48px;
font-weight: 700;
line-height: 48px;
letter-spacing: -0.02em;
text-align: left;
width: 556px;
height: 192px;
gap: 0px;
opacity: 0px;

  }

  .container button{
    width: Hug (214px)px;
height: Hug (38px)px;
padding: 12px 20px 12px 20px;
gap: 8px;
border-radius: 4px 0px 0px 0px;
opacity: 0px;
font-family: Inter;
font-size: 14px;
font-weight: 700;
line-height: 14px;
letter-spacing: -0.02em;
text-align: left;
background-color: #F28D35;

  }





  .container2{
  
/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 108px;

position: absolute;
width: 1064px;
height: 414px;
left: 188px;
top: 857px;



    }
  
  .container2 img {
    

width: 414px;
height: 414px;



/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

  }


  
  .container2 h1 {
    color: #6B3CC9;
    font-family: Poppins;
    font-size: 27px;
    font-weight: 600;
    line-height: 33px;
    letter-spacing: 0.4px;
    text-align: left;
  }
  
  .container2 p {
    font-family: Inter;
font-size: 16px;
font-weight: 400;
line-height: 19.36px;
text-align: left;

  }
  
  .container2 button{

    width: Hug (129px)px;
  height: Hug (38px)px;
  padding: 12px 20px 12px 20px;
  gap: 8px;
  border-radius: 4px 0px 0px 0px;
  opacity: 0px;
  background-color: #F28D35;
  
  }












  
  .container3{
  
  /* Frame 499 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 108px;

position: absolute;
width: 1064px;
height: 416px;
left: 188px;
top: 1351px;



    
    
    
        }
      
      .container3 img {
 

width: 414px;
height: 416px;



/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;

      }
    
    
      
      .container3 h1 {
        color: #6B3CC9;
        font-family: Poppins;
        font-size: 27px;
        font-weight: 600;
        line-height: 33px;
        letter-spacing: 0.4px;
        text-align: left;
      }
      
      .container3 p {
        font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.36px;
    text-align: left;
    
      }
      
      .container3 button{
    
        width: Hug (129px)px;
      height: Hug (38px)px;
      padding: 12px 20px 12px 20px;
      gap: 8px;
      border-radius: 4px 0px 0px 0px;
      opacity: 0px;
      background-color: #F28D35;
      
      }


      .container4 {
        /* Existing CSS */
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0px;
        gap: 28px;
        position: absolute;
        width: 846px;
        height: 392px;
        left: 297px;
        top: 1847px;

       
        

      }
      
.container4 h1{
  color: #6B3CC9;
font-family: Poppins;
font-size: 27px;
font-weight: 600;
line-height: 33px;
letter-spacing: 0.4000000059604645px;
text-align: left;

}



      .containersub1 {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 20px; /* Adjust as needed */
      }


.containersub1 h2{
  font-family: Inter;
font-size: 22px;
font-weight: 500;
line-height: 28px;
text-align: left;
color: #6B3CC9;
width: 744px;
height: 28px;
gap: 0px;
opacity: 0px;

}


      
      .containersub1 .image-container2 {
        margin-right: 20px; /* Adjust as needed */
      }
      
      .text1,
      .text2,
      .text3
       {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 20px; /* Adjust as needed */
      }


      .text4{
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 10px;
        margin-top: 0%; /* Adjust as needed */
      }
      
      .text1 img,
      .text2 img {
        margin-left: 20px; /* Adjust as needed */
      }
      
      .text4 p {
        font-family: Inter;
font-size: 18px;
font-weight: 400;
line-height: 30px;
text-align: left;
color: #6F6C90;

      }






      .text1 p,
      .text2 p{
        font-family: Inter;
font-size: 22px;
font-weight: 500;
line-height: 28px;
text-align: left;
width: 744px;
height: 28px;
gap: 0px;
opacity: 0px;

      }